@import '../scss/_default';
@import 'scss/_normalize';
@import 'scss/_grid';
@import 'scss/_icons';
@import 'scss/_shared';

.Application {
  padding: 20px;
}


.Application-title {
  margin: 0;
  padding: 10px 0 20px;
}

