// Grid module

.g {

  /* 5 column grid */
  &-column {
    position: relative;
    float: left;
    width: 100%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }

  &.__no-pad {
    border-left: 0;
    border-right: 0;
  }

  &-sm66 { width: 66.66667%; }
  &-sm50 { width: 50%; }
  &-sm33 { width: 33.33333%; }

  &-left { float: left; }
  &-right { float: right; }
  &-clear { clear: both; }

  &-center { display:block; float: none; margin-left: auto; margin-right: auto; clear: both; }
  &-hide { display: none; }

  &-clearfix {
    &:before, &:after {
      content: '';
      display: table;
    } 
    &:after { clear: both; }
  }

  @include breakpoint($mid) {
    &-md100 { width: 100%; }
    &-md66 { width: 66.66667%; }
    &-md50 { width: 50%; }
    &-md33 { width: 33.33333%; }
    &-md25 { width: 25%; }

    &-mdRight { float: right; }
    &-mdLeft { float: left; }
    &-mdClear { clear: both; }

    &-mdCentered { display:block; float: none; margin-left: auto; margin-right: auto; clear: both; }
    &-mdHide { display: none; }
    &-mdShow { display: block; }
    // @at-root br#{&}-mdShow { display: initial; } // Fix FF
  }

  @include breakpoint($large) {
    &-lg100 { width: 100%; }
    &-lg66 { width: 66.66667%; }
    &-lg50 { width: 50%; }
    &-lg33 { width: 33.33333%; }

    &-lgRight { float: right; }
    &-lgLeft { float: left; }
    &-lgClear { clear: both; }
    &-lgNoclear { clear: none; }

    &-lgCentered { display:block; float: none; margin-left: auto; margin-right: auto; clear: both; }
    &-lgHide { display: none; }
    &-lgShow { display: block; }
    //@at-root br#{&}-lgShow { display: initial; } // Fix FF
  }

}
