@import '../scss/_default';

.GameItemWrapper {
  position: relative;
}

.GameItem {
  width: 100%;
  height: 300px;
  padding: 10px;
  background: #EEE;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

@keyframes loaderSpin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}

.GameItem-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;

  &:before {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    border: 5px solid #FCA;
    border-top-color: #F60;
    border-radius: 50%;
    animation: loaderSpin 0.3s linear infinite 0s;
  }
}



.GameItem-title {
  margin: 0;
  font-size: 1.5em;
}



// GameItem select/swap transition
// ------------------------------------------

.GameItem.is-enter {
  transform: translateX(-50%) scale(0.7);
  opacity: 0;
  transition: all 0.5s ease 0.3s;
}

.GameItem.is-enter-active {
  transform: translateX(0) scale(1);
  opacity: 1;
}

.GameItem.is-enter ~ .GameItem.is-enter, // quick click fix
.GameItem.is-leave {
  position: absolute;
  top: 0;
  left: 0;
}

.GameItem.is-leave {
  transform: scale(1);
  // transform-origin: 0 100%;
  opacity: 1;
  transition: all 0.3s ease 0s;
}

.GameItem.is-leave-active {
  transform: scale(0.7);
  opacity: 0;
}


// GameItem loader transition
// ------------------------------------------

.GameItem-loader.is-enter {
  transform: scale(0.5);
  transition: all 0.2s ease 0s;
}

.GameItem-loader.is-enter-active {
  transform: scale(1);
}

.GameItem-loader.is-leave {
  transform: scale(1);
  opacity: 1;
  transition: all 0.2s ease 0s;
}

.GameItem-loader.is-leave-active {
  transform: scale(3);
  opacity: 0;
}


// GameItem content transition
// ------------------------------------------

.GameItem-content.is-enter {
  opacity: 0;
  transition: all 0.3s ease 0s;
}

.GameItem-content.is-enter-active {
  opacity: 1;
}


